<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="{547EDC3B-CD78-4D29-9E99-1C8831339F11}" Version="$(var.VersionLong)" Language="1033" Name="Test $(var.VersionShort)" Manufacturer="TEST" >
        <Package InstallerVersion="200" Compressed="yes" Keywords='Installer' Description="Test Installer" Manufacturer="TEST" InstallScope="perMachine" />

        <Feature Id="ProductComponents" Level="1" Title="Product Components" ConfigurableDirectory='INSTALLDIR'>
            <ComponentGroupRef Id="MyCG" />
        </Feature>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id='CMDEXE'>cmd.exe</Property>

        <!--Property Id="WixSilentExecCmdLine" Value='"cmd.exe" /C "[INSTALLDIR]\msi_post_install.bat"' /-->
        <!--CustomAction Id="PostCmd" Property='WixSilentExecCmdLine' Value='"cmd.exe" /C "[INSTALLDIR]\config_ipython.bat"'/>
        <CustomAction Id="PostInstall" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="immediate" Return="check"/-->
        <CustomAction Id='LaunchFile' Directory="INSTALLDIR" ExeCommand='"cmd.exe" /c "[INSTALLDIR]testfiles\test.bat"' Return='asyncNoWait' />
        <InstallExecuteSequence>
            <!--Custom Action='PostCmd' After='InstallFinalize' />
            <Custom Action='PostInstall' After='InstallFinalize' /-->
			
			<!-- as we run this after InstallFinalize a failure would not result in a rollback
			     hence we ignore the return value -->
            <Custom Action='LaunchFile' After='InstallFinalize'>NOT Installed</Custom>
        </InstallExecuteSequence>
    </Product>

    <Fragment>
            <Directory Id="TARGETDIR" Name="SourceDir">
                <Directory Id="INSTRUMENT" Name="Instrument">
                    <Directory Id="INSTALLDIR" Name="Apps" />
                </Directory>
            </Directory>
    </Fragment>

    <?include test.wxi ?>

</Wix>

<!--
<CustomAction Id="test"
    ExeCommand="[INSTALLDIR]MyBatch.bat"
    Directory="INSTALLDIR" Execute="deferred" Return="asyncWait"/>

<InstallExecuteSequence>
    <Custom Action="test" After="InstallFiles">NOT Installed</Custom>
</InstallExecuteSequence>


<CustomAction Id="RunBat" Directory="INSTALLDIR" ExeCommand='[SystemFolder]\cmd /c "test.bat"' Execute='deferred' Impersonate='no' Return='ignore'/> <InstallExecuteSequence> <Custom Action="RunBat" After="InstallFiles"> NOT (REMOVE~="ALL") </Custom> </InstallExecuteSequence> works for me. – Prasad Nov 8 '19 at 8:15 


https://wixtoolset.org/documentation/manual/v3/customactions/qtexec.html


-->