<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="{547EDC3B-CD78-4D29-9E99-1C8831339F11}" Version="$(var.VersionLong)" Language="1033" Name="Test $(var.VersionShort)" Manufacturer="TEST" >
        <Package InstallerVersion="200" Compressed="yes" Keywords='Installer' Description="Test Installer" Manufacturer="TEST" InstallScope="perMachine" />

        <Feature Id="ProductComponents" Level="1" Title="Product Components" ConfigurableDirectory='INSTALLDIR'>
            <ComponentGroupRef Id="MyCG" />
        </Feature>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_InstallDir" />

        <CustomAction Id="MyAction.SetProperty" Return="check" Property="WixQuietExecCmdLine" Value='"[SystemFolder]cmd.exe" /C "[INSTALLDIR]testfiles\test.bat"' />
        <CustomAction Id="LaunchFile1" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="immediate" Return="ignore"/>
 
        <CustomAction Id='LaunchFile2' Directory="INSTALLDIR" ExeCommand='"[SystemFolder]cmd.exe" /c "[INSTALLDIR]testfiles\test.bat"' Return='asyncNoWait' />

        <InstallExecuteSequence>			
			<!-- as we run this after InstallFinalize a failure would not result in a rollback
			     hence we ignore the return value above -->
            <Custom Action='MyAction.SetProperty' After='InstallFinalize'>NOT Installed</Custom>
            <Custom Action='LaunchFile1' After='MyAction.SetProperty'>NOT Installed</Custom>
			
            <!--Custom Action='LaunchFile2' After='InstallFinalize'>NOT Installed</Custom-->
        </InstallExecuteSequence>
    </Product>

    <Fragment>
            <Directory Id="TARGETDIR" Name="SourceDir">
                <Directory Id="INSTRUMENT" Name="Instrument">
                    <Directory Id="INSTALLDIR" Name="Apps" />
                </Directory>
            </Directory>
    </Fragment>

    <?include test.wxi ?>

</Wix>

<!--

things to cobider: Execute="deferred" or "commit" on CustomAction, also Impersonate

-->